

.top-navigation {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.container {
  background-color: #383838;
  margin-top: 0;
  min-height: 970px;
  border-left: 2px ridge red;
  border-right: 2px ridge red;
}

.banner {
  color: #CC0000;
  text-align: center;
}

.content .content__image {
  height : 300px;
  width: 220px;
  background-color: white;
  float:left;
  margin-right: 20px
}

.content .content__description,
.content .content__description-narrow
 {
  margin-right: 0;
  height: 300px;
  float: left;
  width: 680px;
  padding-left: 20px;
  background-color: #222;
  color: white;
}

.content .content__description {
  width: 680px;
}

.content .content__description-narrow {
  width: 380px
}

.container .content {
  padding-left: 0px;
  padding-right: 0px;
  border-bottom: 3px solid #CC0000;
  padding-bottom: 10px;
  padding-top: 10px;
}

.current {
  color: orange;
}

.banner__title {
  font-size: 60px;
  margin-top: 25px;
  margin-bottom: 0px;
}

.container .spacer {
  border: 2px groove gray;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
}

.search__input {
  background-color:#AAA;
  height: 120px;
  border-radius: 10px;
  margin-top: 10px;
}

.search__input-p {
  margin-left: 10px;
  margin-top:20px;
}

.search__input-box {
  width: 200px;
  float: right;
  margin-right: 10px;
}

.content__description__title {
  font-size: 36px
}

.content__description__header{
  font-size: 24px;
  color: #C00;
}

.content__description__body{
  font-size: 20px;
  margin-right: 10px;
}
